/**
 * CSS File Name: wpapps-style.css
 * Use: wpappsforthat.com
 * Author: Dave Van Abel
 * Author URI: https://wpappsforthat.com/
 * Description: WpAppsForThat.com custom stylesheet intended to be used in his own Apps.
 * Created: 2022-07-02 12:00:00
 * Updated: 2022-10-31 17:11:00
 * Version: 1.2.000
*/

/* 10-31-22 Got this styplesheet to work on Github Pages
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Github Web Pages - Dave Van Abel</title>
        <link rel='stylesheet' type='text/css' href='https://dva1946.github.io/wpappsforthat.github.io/wpapps-style.css' /> -->
    <head>
        <h2>Modelling CSS for Github Pages</h2> 
    </head>
    <body>
    10-31-22: Secret to working is SINGLE QUOTES
  This is new for us and follows this/these document pages: 
    https://webdesign.tutsplus.com/tutorials/loading-css-into-wordpress-the-right-way--cms-20402
    https://www.w3schools.com/css/
    */

/* TEST CSS from www.w3schools.com/css/ */

/* An ELEMENT Selector (DEMO ONLY) */
    /* 
    p {
        text-align: center;
        color: red;
    } 
    */

/* An ID Selector  (DEMO, BUT USEFUL. Maybe rename later! */
/*
  #para1 {
    text-align: center;
    color: red;
  }
*/
/* A CLASS Selector - VERY USEFUL & CAN ENHANCE */

  /*
  .center {
    text-align: center;
    color: red;
  }
  */

/* An ELEMENT & CLASS Selector (DEMO ONLY) */

/* 
  p.center {
    text-align: center;
    color: red; 
  }
  */

/* The UNIVERSAL Selector - not too sure what do with it! (DEMO ONLY) */
  /*  
  .center {
    text-align: center;
    color: blue;
  }
  */

/* An ELEMENT GROUPING Selector (Watch for over riding by this or others */

  /*
  h1, h2, p {
    text-align: center;
    color: purple;
  }
  */

/* An ELEMENT = h2 Background Color (color, hex and more options) */

  /*
  h2 {
    background-color: #3cb371;
  }
  */

/* An ELEMENT = body Background Color (entire page is light=Gray & text=Black - big power!) */
 
  /* 
    body {
      background-color: LightGray;
      color: black;
    }
  */

/* A BORDER Element (EX: put in app: <p class="solid">Hi Dave </p.)
      Reading required to learn much more, like shorthand */
  
      /* 
  p.solid {
    border-style: solid;
  }
  */

 /* A BORDER Selector using shorthand (border-width, border-style (required) & border-color*/
  /* 
  p {
    border: 2px solid red;
  }
  */

/* body, h1 & div SELECTORS (research div) */
  /* 
    /* body {
      background-color: lightgrey;
      color: blue;
    }
  */
  /*
    h1 {
      background-color: black;
      color: white;
    }
  */

  /*
  div {
    background-color: blue;
    color: white;
  }
  */

/* FONTS - I am leaving out for now as I have a mixed site: FSE & Apps */

 /* LINK(S) - 10-31-22 -> https://www.w3schools.com/css/css_link.asp */

/* commented out for new set for above on W3Cschools */
/*
  a:link, a:visited {
    background-color: lightskyblue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  a:hover, a:active {
    background-color: #e64c4c;

  }
*/

/* 10-31-22 Link Boxes W3C site above */
a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: green;
  color: white;
}
/* 10-31-22 END OF W3C */

/* A SIMPLE & RESPONSIVE TABLE Selector - req's <div above & below table */
  /* 
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }

tr:nth-child(even) {background-color: #f2f2f2;}
/* 
  A Fancy Table (Only need this: <table id="customers">
  There is an alternate for simple styling = table, th, td {
*/ 
 #customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;

  width: 100%;
}
 #customers td, #customers th {
  border: 2px solid #ddd;
  padding: 8px;
}
#customers tr:nth-child(even){background-color: #f2f2f2;}
#customers tr:hover {background-color: #ddd;}
#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

/* Float for an image 10-30-22 
https://www.w3schools.com/css/tryit.asp?filename=trycss_layout_float
*/
img {
  float: left;
}
/* EX usage: 
<p>
<img src="pineapple.jpg" alt="Pineapple" style="width:170px;height:170px;margin-left:15px;">
Some content floating right or left & even above & below
</p>
*/

/* A Custom CLASS for Upload File App */

div.uploadfile-app {
  max-width: 500px;
  margin: auto;
  border: 3px solid #73AD21;  /* Over-rides above setting */
}
 /**************************************************************/
 /* END: A Fancy Table (Only need this: <table id="customers"> */
 /**************************************************************/

/* A Custom CLASS for an error message, used in my-file-upload-1.php */

#div.err-uploadfile-app {
  text-align: center;
  color: red;
}

/* 10-29-22 Taken from style-addon-myappsforthat.css */

/* 10-31-22: Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;

}
.col-25b {
  float: left;
  width: 25%;
  font-weight: 900;
  margin-top: 6px;

}
/* Floating column for inputs: 50% width */
.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;

}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* 10-31-22 Adding in what was developed on Github Web Pages
and some of it may be missing
*/

/* 10-31-22 Merging in from model-for-css-v2-stylesheet.html 

    /* Table Row Styling: */
      /* 10-30-22 from -> https://www.w3schools.com/css/tryit.asp?filename=trycss_float_boxes */
      {
        box-sizing: border-box;
      }
  
      /* Create two unequal columns that floats next to each other */
      .column {
          float: left;
          padding: 10px;
          height: 300px; /* Should be removed. Only for demonstration */
      }
  
      .left {
          width: 25%;
      }
  
      .right {
          width: 75%;
      }
  
      /* Clear floats after the columns */
      .row:after {
          content: "";
          display: table;
          clear: both;
      }
      */
  
      /* Bring in simplified Table / row / column stypling
          https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_column_width
          Set widths:
              <table style="width:100%">
              <th style="width:50%">Firstname</th>  
                  Set 1st column and others adjust from there.
                  Might be real simple solution(s)     
      */
      table, th, td {
          border:3px solid black;
          border-collapse: collapse;
      }
      /* Float for an image 10-30-22 (last new css b/f fixing styling on Github Pages */
        /* https://www.w3schools.com/css/tryit.asp?filename=trycss_layout_float */
      */
      img {
        float: left;
      }
      /* could be right or inherit - study and test, test, test! */
      /* left, right, none, inh
        left - The element floats to the left of its container
        right - The element floats to the right of its container
        none - The element does not float (will be displayed just where it occurs in the text). This is default
        inherit - The element inherits the float value of its parent
        In its simplest use, the float property can be used to wrap text around images.
      */
  

/* END */
